div {
	margin:10px;
	padding:5px;
}
#father {
	border:1px #000 solid;
}
.layer01 {
	border:1px #F00 dashed;
    /*float: left;*/
}
.layer02 {
	border:1px #00F dashed;
    /*float: left;*/
}
.layer03 {
	border:1px #060 dashed;
    /*float: left;*/
}
.layer04 {
	border:1px #666 dashed;
	font-size:12px;
	line-height:23px;
   /* float: left;*/
}
.a{
    /*clear: both;*/
}
