*{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: rgba(0,0,0,0.5);
}
a{
    color: #000;
    text-decoration: none;    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}
nav ul li{
    list-style: none;
}
nav ul li img{
    height: 120px;
}
nav ul li:nth-last-of-type(n+3):hover a{
    color: blue;
}
nav ul li:nth-of-type(n+9){
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid yellow;
}
nav ul li:nth-of-type(n+9) a{
    color: yellow;
}
nav ul li:nth-of-type(n+9):hover{
    background-color:goldenrod;
}