body{
    color: #9c2f06;
}
h3{
    font-size: 18px;
    line-height: 40px;
    font-weight: bold;
}
p{
    font-size: 12px;
    line-height: 20px;

}
p,img{
    vertical-align: middle;
}