h2{
    color: #003580;
}
#zt{
    color: #000033;
    font-size: 14px;
}
.ab{
    color: #f00;
}
.ac{
    color: #1F87cc;
}
.ad{
    color: #faa53b;
}
.ae{
    color: #0d7114;
}
.af{
    width: 100px;
    height: 160px;
}
.ag{
    width: 200px;
    height: 130px;
}