*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 12px;
}
.search{
    width: 1340px;
    height: 400vh;
    box-sizing: border-box;
    padding:230px 107px;
    /* background-image: url("../搜索列表页完成后效果.bmp"); */
    background-size: 100%;
}
div{
    box-sizing: border-box;
}
li{
    list-style: none;
}
.search a{
    color: #777;
    text-decoration: none;
}
.breadcrumb{
    font-size: 1rem;
}
.breadcrumb a{
    padding: 0 5px;
}
#brand{
    border: 1px dotted rgb(231, 79, 79);
    padding: 2px 8px;
}
#brand a{
    color: rgb(231, 79, 79);
    font-style: italic;
}
.nav-list{
    color: rgb(65, 64, 64);
    margin-top: 30px;
    font-size: 1.2rem;
    border: 2px solid #ccc;
    border-bottom: none;
}
.nav-list div{
    display: flex;
}
.nav-list>div{
    padding: 10px;
    border-bottom: 2px solid #ccc;
}
.nav-list>div>div:first-child{
    flex: 0 0 10%;
    justify-content: space-between;
}
.product-list{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.product-list .history{
    flex: 0 0 17.8%;
    border-right: 1px solid #ccc;
}
.product-list .caption{
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.history .caption>div:first-child{
    color: orangered;
    font-size: 1.2rem;
    text-indent: 2px;
    margin-left: 1rem;
    border-left: 4px solid orangered;
    font-weight: bolder;
}
.product-list .items{
    /* display: flex; */
    flex:auto;
}
.items .caption .btns{
    display: flex;
    flex: 0 0 28%;
    height: 50%;
    border: 1px solid #ccc;
    align-self: center;
    text-align: center;
    align-items: stretch;
    justify-content: space-between;
    border-left: none;
}
.items .caption .btns>div{
    flex: auto;
    line-height: 200%;
    border-left: 1px solid #ccc;
}
.items .caption .btns>div:first-child{
    color: #fff;
    background-color: orangered;
}
.text-red{
    color: darkred;
    font-size: 1.8rem;
    text-align: center;
}
.text-oranger{
    color: orangered;
    font-size: 1.8rem;
    text-align: center;
}
.items .items-list{
    width: 100%;
    column-count:4;
    column-gap: 30px;
    column-rule: none;
    padding: 5px 20px;
}
.items-list .item{
    display: inline-flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    padding: 5px 0;
    height: 300px;
    column-fill:balance;
}
.items-list .item>img{
    height: 180px;
}
.items-list .item>.title a{
    color: #222;
    font-weight: 500;
    text-align: center;
}
.items-list .item .btns{
    display: flex;
    color: #D35400;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #ccc;
}
.items-list .item .btns>div:first-child{
    border-right: 1px solid #ccc;
}
.items-list .item .btns>div{
    flex: 0 0 50%;
    padding: 8px 0;
    text-align: center;
    align-self: stretch;
    cursor: pointer;
}
.items-list .item .btns>div:hover{
    color:#ECF0F1;
    background-color: #3498DB;
}